@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">

    <div class="col-12">
        <div class="card-header">
            <h2>Lista de Clientes</h2>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-2">
                    <a href="/Cliente/Cadastrar" class="btn btn-success">
                        Novo Cliente
                    </a>
                </div>
                <div class="col-4">
                    <select name="filtro" class="form-control">
                        <option value="0">Todas opções</option>
                        <option value="id">Por Código</option>
                        <option value="nome">Por Nome</option>
                        <option value="telefone">Telefone</option>
                    </select>
                </div>
                <div class="col-4">
                    <input type="text" name="busca" class="form-control" />
                </div>
                <div class="col-2">
                    <button class="btn btn-primary">
                        Pesquisar
                    </button>
                </div>
            </div>

            <form action="/Cliente/Pesquisa" method="get">
            </form>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">1</td>
                        <td>Emertinho Manager</td>
                        <td>(XX)XXXXX-XXXX</td>
                        <td>
                            <a href="/Cliente/Editar/1" class="btn btn-warning">Editar</a>
                        </td>
                        <td> 
                            <a href="/Cliente/Excluir/1" class="btn btn-danger">Excluir</a>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">2</td>
                        <td>Guilherme</td>
                        <td>(XX)XXXXX-XXXX</td>
                        <td>
                            <a href="/Cliente/Editar/2" class="btn btn-warning">Editar</a>
                        </td>
                        <td> 
                            <a href="/Cliente/Excluir/2" class="btn btn-danger">Excluir</a>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">3</td>
                        <td>Matheus</td>
                        <td>(XX)XXXXX-XXXX</td>
                        <td>
                            <a href="/Cliente/Editar/3" class="btn btn-warning">Editar</a>
                        </td>
                        <td> 
                            <a href="/Cliente/Excluir/3" class="btn btn-danger">Excluir</a>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>

</div>