

<div class="sidenav">
    <div class="login-main-text">
        <h2>Aplicação<br> Pagina de Login</h2>
        <p>Entre ou registre-se para obter acesso.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form action="" method="post">
                <div class="mb-1 form-group">
                    <label>Nome de Usuario</label>
                    <input type="text" class="form-control" placeholder="Nome de Usuario">
                </div>
                <div class="mb-2 form-group">
                    <label>Senha</label>
                    <input type="password" class="form-control" placeholder="Senha">
                </div>
                <button type="submit" class="btn btn-success">Entrar</button>
                <button type="submit" class="btn btn-primary">Registre-se</button>
            </form>
        </div>
    </div>
</div>
