@model WebApp_Noite.Models.ProdutoModel

<div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h2>Editar Dados do Produto</h2>
            </div>
            <div class="card-body">
                <form action="/Produto/SalvarProdutos" method="post">
                    <div class="mb-3">
                        <label>Id</label>
                        <input readonly name="Id" value="@Model.Id" class="form-control" />
                        <br />

                        <label>Nome</label>
                        <input type="text" value="@Model.Nome" name="Nome" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label>Telefone</label>
                        <input type="number" value="@Model.QtdEstoque" name="QtdEstoque" class="form-control" />
                    </div>
                    <div class="container_botoes">
                        <div class="mb-3">
                            <button type="submit" class="btn btn-info">
                                Salvar Cliente
                            </button>
                            <button type="reset" class="btn btn-danger">
                                Resetar Campos
                            </button>
                        </div>
                    </div>





                </form>
            </div>
        </div>
    </div>
    <div class="col-4">
    </div>
</div>
