@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row"> 
    <div class="col-1">

    </div>
    <div class="col-10">
        <div class="card-header">
            <h2>Lista de Produtos</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Quantida em estoque</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mouse Gamer</td>
                    <td>150</td>
                    <td>
                        <a href="/Produto/Editar/1" class="btn btn-warning">Editar</a>
                        <a href="/Produto/Excluir/1" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
                <tr>
                        <th scope="row">2</th>
                        <td>Miniatura Usina São Martinho</td>
                        <td>350</td>
                        <td>
                            <a href="/Produto/Editar/2" class="btn btn-warning">Editar</a>
                            <a href="/Produto/Excluir/2" class="btn btn-danger">Excluir</a>
                        </td>
                 </tr>
                 <tr>
                        <th scope="row">3</th>
                        <td>Cerveja Antartica BOA !</td>
                        <td>200</td>
                        <td>
                            <a href="/Produto/Editar/3" class="btn btn-warning">Editar</a>
                            <a href="/Produto/Excluir/3" class="btn btn-danger">Excluir</a>
                        </td>
                  </tr>
                  
               
            </tbody>
            </table>
        </div>
    </div>
    <div class="col-1">
    </div>
</div>