@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<WebApp_Noite.Models.ProdutoModel>
<div class="row"> 
    
    <div class="col-12">
        <div class="card-header">
            <h2>Lista de Produtos</h2>
        </div>
        <div class="card-body">

            <div class=" row">
                <div class="col-2">
                    <a href="/Produto/Cadastrar" class="btn btn-success">
                        Novo Produto    
                    </a>
                </div>
                <div class="col-4">
                    <select name="filtro" class="form-control">
                        <option value="0">Todas opções</option>
                        <option value="id">Por Código</option>
                        <option value="nome">Por Nome</option>
                        <option value="qtd">Por Quantidade</option>
                    </select>
                </div>
                <div class="col-4">
                    <input type="text" name="busca" class="form-control" />
                </div>
                <div class="col-2">
                    <button class="btn btn-primary">
                        Pesquisar
                    </button>
                </div>
            </div>
            
            <form action="/Produto/Pesquisa" method="get">
                
            </form>

            <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Quantida em estoque</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Excluir</th>
                </tr>
            </thead>
            <tbody>
                    @foreach(var produto in Model)
                    {
                        <tr>
                            <th>@produto.Id</th>
                            <td>@produto.Nome</td>
                            <td>@produto.QtdEstoque</td>
                            <td>
                                <a href="/Produto/Editar/@produto.Id" class="btn btn-warning">Editar</a>
                            </td>
                            <td>
                                <a href="/Produto/Excluir/@produto.Id" class="btn btn-danger">Excluir</a>
                            </td>
                        </tr>
                    }
                  
            </tbody>
            </table>
        </div>
    </div>
    
</div>